#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.singleDataSec {
  flex-direction: column;
  justify-content: left;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
  border-radius: 5px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
