/*
* CSS the BASE DOCUMENT, will affect everything
*/
/*************** Begin ROOT Section *********************/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

#root {
  min-width: 100%;
}

/*************** End ROOT Section *********************/

/******************************************************/
/*************** Begin HEADER Section *****************/

header {
  top: 0%;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1000;
}

#topHeader {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topHeaderContainer {
  background-color: rgb(9, 56, 75);
  color: white;
  padding: 5px 0;
}

.logoImage {
  display: flex;
  padding-left: 2%;
  width: 100px;
}

/* The VoCheck logo and Text at the top of the page*/
.logoSection {
  color: rgb(9, 56, 75);
  position: relative;
  height: 102px;
  width: 100%;
  white-space: normal;
  line-height: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: solid;
  border-bottom-color: rgb(245, 242, 242);
  border-bottom-width: 5px;
  border-bottom-style: ridge;
}

.logoSection>a,
.logoSection>a:visited,
.logoSection>a:active {
  text-decoration: none;
  color: inherit;
}

.emptyBox {
  display: inline-block;
  width:fit-content;
  height: 100px;
  display: flex;
} 

/*************** End HEADER Section *****************/
/******************************************************/

/******************************************************/
/*************** Begin PAGE Section *****************/

/* Positions ALL items in the center of the page */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100vw;
}

/******************* End PAGE Section *****************/
/******************************************************/

/******************************************************/
/********** Begin FOOTER section. *********************/
footer{
  bottom: 0;
  width: 100vw;
}

footer .vocheck-footer {
  background-color: rgb(9, 56, 75);
  color: ghostwhite;
  width: 100vw;
  white-space: normal;
  line-height: 1.5em;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

footer h4 {
  display: inline;
  margin-right: 2em;
}

/* Links in footer */
.footerLink {
  color: ghostwhite;
}

/***************** End FOOTER section. ****************/
/******************************************************/

/* All <input> fields */
input {
  height: 28px;
  margin: 2px;
}

select {
  height: 28px;
}

/* The State/County DROP DOWN. 
#countyDrop {
  margin-bottom: 70px;
} */

/* Contains the dropdown and search fields */
.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
} 

.tosSection {
  margin-top: 150px;
  margin-left: 4vw;
  margin-right: 4vw;
}

.privacySection {
  margin-top: 150px;
  margin-left: 4vw;
  margin-right: 4vw;
}

.statisticsSection {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 90%;
  max-width: fit-content;
}

.mapsSection {
  display: flex;
  margin-top: 150px;
  margin-bottom: 25px;
  justify-content: center;
  width: 100vw;
}

/******************************************************/
/********* Countdown component formatting *************/

.countdownCont {
  display: flex;
  justify-content: center;
}

.timerTitle {
  font-size: 10pt;
  color: white;
  font-style: italic;
}

.countDownTable {
  background-color:black;
  margin-left: 3%;
  min-width: 190px;
}

.timerTableNumbers {
  font-size: 18pt;
  text-align: center;
  color: red;
}

.timerTableHeaders {
  font-size: 9pt;
  margin-left: 2pt;
  text-align: center;
  color: white;
  font-family:Arial, sans-serif;
}

.timerHeader {
  margin-left: 4.5%;
  margin-bottom: 0;
}


.timerContainer {
  display:flex;
  margin-left:auto;
  margin-right: 15px;
}

.clock {
  font-family: "Seven";
  color:rgb(104, 255, 205);
}

/******************************************************/
/********  END Countdown component formatting *********/

/******************************************************/
/************ Results Table formatting ****************/

/* Colors the even rows light gray */
.resultsTableBody tr:nth-child(even) {
  background-color:gainsboro;
}

.resultsTableSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  width: 100vw;
  font-size: smaller;
}

/* The header row of the results table*/
.resultsTableHeader {
  text-align: left;
  padding-right: 15px;
}

/* The rows of the results table that will be center aligned*/
.resultsTableCenter {
  align-items: center;
  padding: 4px;
  padding-left: 15px;
}
/* The rows of the results table that will be right aligned*/
.resultsTableRight {
  align-items: right;
  padding: 4px;
  padding-left: 15px;
}

/* prints the number of matches to the name entered */
.searchMatchLabel {
  display: flex;
  margin-top: 25px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
  height: 20px;
}

/* formats the text of the number of matches to the name entered */
.searchMatchText {
  font-size: 13pt;
}

/********** END Results Table formatting **************/
/******************************************************/

/****************** Begin Font Section ****************/
/* ALL Heading 1 Font size*/
h1 {
  font-size: 2.2em;
  line-height: 1.1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ALL Paragraph Font size*/
p {
  font-size: 0.75em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* line-height: 1.1; */
}

/* Sweetalert popup font size */
.swal-size {
  font-size: 0.6em !important;
  width: 35%;
}

@font-face {
  font-family: "Clock";
  src: local('alarmClock'), 
    url(../Content/alarmClock.ttf) format("truetype");
}

@font-face {
  font-family: "Seven";
  src: local('sevenSegment'), 
    url(../Content/sevenSegment.ttf) format("truetype");
}

/****************** End Font Section ****************/

/****************** Begin Button Section ****************/
/*ALL buttons*/
button {
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  border-color: darkgray;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*Search button */
.searchButton {
  color: black;
  cursor: pointer;
  background-color: lightgray;
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 40px;
  padding: 10px;
}

.searchButton:hover {
  cursor: pointer;
}

/*Statistics button */
.statsButton:hover {
  cursor: pointer;
}

/* Container for Back buttons - so they are centered on the page */
.centeredButtonCont {
  display: flex;
  justify-content: center;
}

/* Back button */
.backButton {
  color: black;
  cursor: pointer;
  background-color: lightgray;
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 40px;
  padding: 10px;
}

/****************** End Button Section ****************/

/* Tabs a section over*/
.tabSec {
  margin-left: 3%;
}

/* makes the search form a container and centers search button*/
.inputCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* tab over */
.tab {
  display: inline-block;
  margin-left: 30px;
}

.selectCont {
  height: 50px;
}

.pageCont {
  margin-bottom: 100px;
}

input {
  cursor: pointer;
}
